<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style/style.css" />
  </head>
  <body class="pink">
    <h2 id="h2" style="text-align: center"></h2>
    <div class="con">
      <img
        id="img"
        class="img-ask"
        src="../images/—Pngtree—will you be my valentine_5720104.png"
        style="width: 150px; margin-top: 80px"
        alt=""
      />
    </div>
    <h1 id="h1" style="text-align: center; margin-top: 20px"></h1>
    <div class="btns">
      <button id="btn1" class="btn1" onclick="yes()">Yes</button>
      <span id="hide">Or</span>
      <button id="btn2" class="btn2" onclick="yes()">Yes</button>
      <button id="reward" onclick="reward()">
        Click here to receive your reward.
      </button>
    </div>
  </body>
  <script src="../script/main.js"></script>
</html>
