<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style/style.css" />
  </head>
  <body>
    <div class="div" style="height: 200vh">
      <div class="row">
        <h1 style="font-size: 45px; margin-top: 20px" class="txtlangga">
          <center>
            Hello, langgakeyks ko
            <span class="heart"> &#9829; &#9829; &#9829;</span>
          </center>
        </h1>
      </div>
      <div class="row">
        <center>
          <img
            class="wave"
            src="../images/hello (1).gif"
            alt=""
            srcset=""
            style="width: 200px; margin-top: 50px"
          />
        </center>

        <center>
          <h3 class="srcl" style="margin-top: 230px">
            Scroll to answer the question
          </h3>
          <img
            class="srcl"
            src="../images/backhand-index-pointing-down-joypixels.gif"
            alt=""
            srcset=""
            style="width: 70px"
          />
        </center>
      </div>
    </div>
    <div class="div-quest">
      <a href="../components/main.html"> Click here</a> to answer the question.
    </div>
  </body>
</html>
